@use '../../default/base';

.forScroll {
    position: absolute;
    top: 0;
    z-index: 2;
    right: 0;
    left: 0;
    background-color: base.$clr-main_body;
    opacity: 0;
    height: 600px;
    transform: translateY(0px);
}