@use '../default/base';

.blockButtonMore {
        display: flex;
        justify-content: end;
        &__button {
            display: flex;
            align-items: center;
            cursor: pointer;

            padding: 10px 10px 10px 14px;
            border-radius: 25px;
            background-color: rgba(255, 255, 255, .05);
            @include base.style-main_click;
            transition: .2s;
            & > span {
                display: block;
                font-family: base.$fnt-all;
                font-size: 15px;
                font-weight: 400;
                transition: .2s;
            }
            & > svg {
                margin-left: 5px;
                height: 24px;
                opacity: 0.8;
                transform: translateY(1px) translateX(0px);
                transition: 0.15s;
            }
            &:hover > svg{
                opacity: 0;
                transform: translateY(1px) translateX(20px);
            }
            &:hover > span{
                transform: translateX(13px);
            }
            &:active {
                transform: scale(.95);
            }
        }
    }