@use '../default/base';

.footer {
    background-color: rgba(255, 255, 255, .01);
    @include base.style_main_base;
    margin-top: 50px;
    & > .inner {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__separator {
        width: 100%;
        height: 1px;
        background-color: rgb(60, 60, 60);
        margin-top: 20px;
        margin-bottom: 20px;
    }
    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__left {
            display: flex;
            align-items: center;
            gap: 38px;
        }
        &__logo {
            height: 53px;
            & > img {
                height: 100%;
                filter: invert(1);
            }
        }
        &__nav {
            display: flex;
            align-items: center;
            // gap: 25px;
            & > a {
                font-size: 16px;
                font-weight: 400;
                color: rgb(255, 255, 255);
                transition: .15s;
                cursor: pointer;
                padding-left: 12px;
                padding-right: 12px;
                &:hover {
                    color: rgb(220, 220, 220);
                }
            }
        }
        & > button {
            border-radius: 22px;

            height: 45px;
            padding-left: 15px;
            padding-right: 15px;

            font-size: 16px;
            font-weight: 700;
            cursor: pointer;
            transition: .2s;
            @include base.style-main_click;
            background-color: rgba(255, 255, 255, .05);
            // &:hover {
            //     background-color: base.$clr-gray_47_hover;
            // }
            // &:active {
            //     transform: scale(0.98);
            // }
        }
    }
    &__body {
        &__links {
            display: flex;
            align-items: start;
            justify-content: space-between;
            &__title {
                margin-bottom: 8px;
                & > h4 {
                    color: rgb(138, 138, 138);
                    font-size: 16px;
                    font-weight: 400;
                }
            }
            &__container {
                display: flex;
                gap: 12px;
                align-items: center;
            }
            &__contacts {
                & a {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 7px;

                    width: 125px;
                    height: 75px;
                    border-radius: 15px;

                    @include base.style-main_click;
                    background-color: rgba(255, 255, 255, .05);
                    cursor: pointer;
                    transition: .2s;
                    & > img {
                        height: 23px;
                    }
                    & > span {
                        display: block;
                        text-align: center;
                        font-size: 12px;
                    }
                }
            }
            &__social {
                & a {
                    & > img {
                        height: 25px;
                    }
                }
            }
            &__social &__title > h4 {
                text-align: right;
            }
            &__social &__container {
                justify-content: end;
            }
        }
        &__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__copyright {
                font-size: 14px;
                color: rgb(138, 138, 138);
            }
            &__banks {
                display: flex;
                align-items: center;
                height: 28px;
                & > img {
                    height: 100%;
                }
            }
        }
    }
}